body{
    height: 100vh;
    
    text-align: center;
    background: linear-gradient(#c0c292, #0a273c); 
    display: block;
    flex-wrap: wrap;
}


h1{
    font-size: 100px;
}
h3{
    font-size: 40px;
    box-shadow: 0 4px 10px;
    letter-spacing: 2px;
    }

#content{
    margin: 0px auto ;
    padding-top: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    border: 0px solid black;
    font-size: 150px;
    box-shadow: 5px -5px 5px;
    transition: all 0.3s ease-in-out;

}
#content:hover {
    box-shadow: -5px 5px 5px;
}
h5{
    display: inline;
}
p{
    display: inline;
    font-size: 150%;
}

span{
    position: relative;
    border: 2px solid black;
    font-size: 100%;
    box-shadow: 8px 8px 12px;
    margin: 10px;
    letter-spacing: 10px;
    transition: all 0.3s ease-in-out;
}

span:hover{
    box-shadow: -5px -2px 5px;
}
h2{
    display: inline-block;
        border: 2px solid black;
        font-size: 80%;
        box-shadow: 8px 8px 12px;
        padding: 10px;
        margin: 10px;
        letter-spacing: 10px;
        transition: all 0.3s ease-in-out;
    }
    
    h2:hover{
        box-shadow: -5px -2px 5px;
    }
    @media (max-width: 600px) {


    #content{
        border: none;
        box-shadow: none;
        transition: none;
    }
    }