body {
    background: linear-gradient(#4aa5d3, #533b2b); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 40px;
}

#alarm{
    border-radius: 5px;
    zoom: 2;
    padding: 4px;
    outline: none;
    border: 2px solid green;
}

button{
    border-radius: 5px;
    zoom: 2;
    background-color: tomato;
    border: 2px solid  tomato;
    padding: 6px;
    margin-left: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}