body {
    background: linear-gradient(#ececec, #24702f); 
    height: 100vh;
    text-align: center;
}
#content {
    font-size: 22px;
    margin-top: 10%;
}
h3{
font-size: 40px;
box-shadow: 0 4px 10px;
letter-spacing: 2px;
}
#text{
    border-radius: 5px;
    zoom: 2;
    padding: 6px;
    outline: none;
    border: 2px solid green;
    box-shadow: 0 2px 5px;
    
}



button {
    margin-left: 10px;
    width: 200px;
    height: 60px;   
    background-color: #e74c3c;
    border: none;
    letter-spacing: 2px;
    border-radius: 10px; 
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px;
}

button:hover {
    background-color: #c0392b;
    transform: scale(1.05); 
    box-shadow: 0 6px 15px;
}
